.app-pagination{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    &__info{
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        padding-bottom: 19px;
        color: #666;
    }

}