.app-dropdown-list{
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    
    box-shadow: RGB(0 0 0/25%) 0 1px 8px;

    &__item{
        list-style-type: none;
        width: 100%;
        background-color: #fff;;
        padding: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        &:not(:last-child){
            margin: 0 0 8px;
        }
        &:hover{
            background-color: #0770cf;
            color: #fff;
        }
    }

    &__value{
        padding-left: 30px;
    }

    &__box{
        background-position: center;
        background-size: 24px;
        content: "";
        height: 24px;
        width: 24px;
        background: url('../../Image//1.svg');
        background-repeat: no-repeat;
        position: absolute;
    }
}


.active-item{
    background-color: #0770cf;
    color: #fff;
}

.active-box{
    background: url('../../Image//2.svg');
}