.app-multi-filter{
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: RGB(0 0 0 / 25%) 0 1px 8px;

    &__items{
        padding: 10px;
    }
    &__item{
        list-style-type: none;
        width: 100%;
        background-color: #fff;;
        border-radius: 5px;
        padding: 11px;
        display: block;
        height: 44px;
        cursor: pointer;
        border: 1px solid;

        &:not(:last-child){
            margin: 0 0 8px;
        }

        &:hover{
            background-color: #0770cf;
            color: #fff;
        }
    }
}


.active-flter{
    background-color: #0770cf;
    color: #fff;
}